@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    direction: rtl;
}

/* Vazir Regular */
@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.eot');
  src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir.woff2') format('woff2'),
       url('../fonts/Vazir.woff') format('woff'),
       url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* بهتر است اضافه شود */
}

/* Vazir Bold */
@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Bold.eot');
  src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Vazir-Bold.woff2') format('woff2'),
       url('../fonts/Vazir-Bold.woff') format('woff'),
       url('../fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'vazir';
}

html, body {
  background-color: white !important;
}